<div class="container">
<div class="row" style="margin-top: 100px;">
  <div class="col-6">
<form [formGroup]="myfrom" (ngSubmit)="addUser()">
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
   
    <label >Email address:</label>
    <input type="email" class="form-control" formControlName="email">
  </div>

  <button type="submit" class="btn btn-primary">{{ btnValue }}</button>
</form>
</div>

<div class="col-6">
  
  <div class="container">
      <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor = "let user of users | async">
        <tr>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td><button class="btn-sm btn-info" (click)="onEdit(user)">edit</button></td>
          <td><button class="btn-sm btn-danger" (click)="onDelete(user.name)">delete</button></td>
        </tr>
        </tbody>
    </table>
  </div>
  

</div>
</div>

</div>